{
  "PublicServer": false,  
  "Playtime": "",
  "Password": "",
  "DiscordAddress": "",
  "Description": "",
  "DetailedDescription": "",
  "ServerCategory": "None",
  "IPAddress": "Any",
  "WebServerUrl": "",
  "RemoteAddress": "",
  "GameServerPort": 3000,
  "WebServerPort": 3001,
  "RconServerPort": 3002,
  "RconIPAddress": "Any",
  "RconPassword": "",
  "Rate": 20,
  "MaxConnections": -1,  
  "UPnPEnabled": true,
  "RelayServerAddress": ""
}
